.inner {
	border-style: solid;
	border-width: 1px;
	border-color: #e6e6e6;
	background: #DA22FF; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #DA22FF , #9733EE); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #DA22FF , #9733EE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.outer {
	border-style: solid;
	border-width: 1px;
	width: 300px;
	padding: 10px;
	border-radius: 10px;
	border-color: transparent;
	width: 330px;
	background-color: #FFCC00;
}

html {
    display: table;
    margin: auto;
    margin-top: 4%;
}

body {
    display: table-cell;
    vertical-align: middle;
}


h3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    height: 30px;
    color: #e6e6e6;
}


h3 img {
	border-style: none;
	width: 50px;
	height: 50px;
	align-self: center;
	margin-left: 127px;
	border-radius: 25px;
	margin-right: 0px;
}

img {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-style: solid;
    border-width: 3px;
    border-color: #e6e6e6;
}

.info {
	border-style: solid;
	border-width: 2px;
	border-color: #e6e6e6;
	margin: 10px;
	margin-top: 0;
	color: #e6e6e6;
	background: #e53935; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #e53935 , #e35d5b); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #e53935 , #e35d5b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fact {
	font-style: italic;
	margin-left: 15px;
    	margin-right: 15px;
    	font-size: 13px;
}

span {
	font-weight: bold;
}

ul {
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
}

.description {
	font-size: 14px;
	font-style: oblique;
	margin-left: 10px;
	margin-right: 10px;
}
